.container{
    background-color: rgba(63, 59, 59, 0.842);
    margin: 10px;
    padding: 10px;
    color: rgba(240, 248, 255, 0.904);
    width: 450px;

}
.entrada{
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.479);
    color: rgba(240, 248, 255, 0.904);
    width: 100%;
    margin-right: 15px;
}
.botaoAdicionar{
    width: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.479) ;
    border-radius: 5px;
    border-style: none;
    color: rgba(240, 248, 255, 0.904);
    cursor: pointer;
}
.lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.lista li{
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    
}
.btnEditar, .btnApagar{
    background-color: rgba(124, 121, 121, 0.863);
    border-style: none;
    color: rgba(240, 248, 255, 0.904);
    border-radius: 15px;
    width: 30px;
    cursor: pointer;
    height: 30px;
    font-size: 13px;
    
}
.btnEditar{
    margin-left: auto ;
}
.btnApagar{
    margin-left: 5px;
}
.containerEntrada{
    display: flex;
    justify-content: space-between;

}
